<div>
  <div>
    <h1>
      Board #<%= @the_board.id %> details
    </h1>

    <div>
      <div>
        <a href="/boards">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_board/<%= @the_board.id %>">
          Delete board
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_board.name %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_board.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Edit board
    </h2>

    <form action="/modify_board/<%= @the_board.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_board.name %>">
      </div>

      <button>
        Update board
      </button>
    </form>
  </div>
</div>

<hr>

<ul class="nav nav-tabs nav-fill mb-3" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active-tab-pane" type="button" role="tab" aria-controls="active-tab-pane" aria-selected="true">Active posts (<%= @active_posts.count %>)</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="expired-tab" data-bs-toggle="tab" data-bs-target="#expired-tab-pane" type="button" role="tab" aria-controls="expired-tab-pane" aria-selected="false">Expired posts (<%= @expired_posts.count %>)</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="active-tab-pane" role="tabpanel" aria-labelledby="active-tab" tabindex="0">
    <div class="row" data-masonry='{"percentPosition": true }'>
      <% @active_posts.each do |a_post| %>
        <div class="col-md-3 mb-4">
          <div class="card">
            <div class="card-header">
              <h1 class="h6 my-1"><%= a_post.title %></h1>

              <div>
                Posted on <%= a_post.created_at.strftime("%b %e, %Y") %>
              </div>

              <div>
                Expires on <%= a_post.expires_on.strftime("%b %e, %Y") %>
              </div>
            </div>

            <div class="card-body">
              <%= simple_format a_post.body %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade" id="expired-tab-pane" role="tabpanel" aria-labelledby="expired-tab" tabindex="0">
    <div class="row">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-hover">
            <tr>
              <th>Title</th>
              <th>Body</th>
              <th>Posted on</th>
              <th>Expired on</th>
            </tr>
            
            <% @expired_posts.each do |a_post| %>
              <tr>
                <td><%= a_post.title %></td>
                <td><%= a_post.body %></td>
                <td><%= a_post.created_at.strftime("%b %e, %Y") %></td>
                <td><%= a_post.expires_on.strftime("%b %e, %Y") %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
